<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!!participant">Chat with {{participant.firstName}}</ion-title>
  </ion-navbar>

</ion-header>

<!-- <chat-bubble></chat-bubble> -->
 <ion-content padding>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <p>{{message.content}}</p>
    </ion-item>
  </ion-list>


</ion-content> 

<ion-footer style="overflow-y:scroll; border-top:1px solid rgba(60, 60, 60, 0.7)">
  <ion-textarea placeholder="Enter your message here..." style="width:90%; max-height:50px" fz-elastic [(ngModel)]="message"></ion-textarea>
  <ion-buttons item-end right>
    <button ion-button (click)="sendMessage()">
        <ion-icon name="md-paper-plane"></ion-icon>
      </button>
  </ion-buttons>
</ion-footer>